<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="myuser1" name="user1" class="com.jx372.springcontainer.User1" />  <!-- bean 설정 -->

	<bean id="myuser1-2" class="com.jx372.springcontainer.User1" />  <!-- bean 설정 -->

	<!-- 기본생성자로 빈 생성이 되기 때문에 기본 생성자가 없는 경우에는 에러를 발생한다. -->
	<!-- <bean id = "user2" class="com.jx372.springcontainer.User2"/> -->

	<bean id="user2" class="com.jx372.springcontainer.User2">
		<constructor-arg value="노경욱" />
	</bean>


	<!-- 생성자 파라미터의 순서를 지정해 주지 않으면 설정 순서에 따라 자동으로 파라미터 순서가 매겨짐 -->
	<!--<bean id="user3" class="com.jx372.springcontainer.User3"> <constructor-arg 
		value="노경욱" /> <constructor-arg value="10" /> </bean> -->

	<bean id="user3-1" class="com.jx372.springcontainer.User3">
		<constructor-arg index="1" value="노경욱" /> <!-- index = "1" 1이 숫자여도 ""으로 감싸야한다. 설정이니까 -->
		<constructor-arg index="0" value="10" />
	</bean>

	<bean id="user3-2" class="com.jx372.springcontainer.User3">
		<constructor-arg value="20" />
		<constructor-arg value="둘리" /> 
	</bean>
	
	<bean id = "user4" class="com.jx372.springcontainer.User4">
		<property name="no" value="10"/> <!-- name으로 필드의 멤버이름을 지정함으로 index가 필요없다. -->
		<property name="name" value="마이콜"/>   
		<!--  setter가 없으면  org.springframework.beans.NotWritablePropertyException 오류 발생 -->
		<!--  <property name="email" value="nogang27@naver.com"/> -->
	</bean>
	
	<bean id = "friend" class="com.jx372.springcontainer.Friend">
		<constructor-arg value="마이콜"	/>
	</bean>

	<!-- DI   -->
	<bean id="user" class="com.jx372.springcontainer.User">
		<constructor-arg value="도우넛"/>
		<property name="friend" ref="friend"/> <!-- ref에 id값을 넣음으로써 주입  -->
	</bean>
	
	<!-- DI(id설정없이 포함시키기)  -->
	<bean id="usr" class="com.jx372.springcontainer.User">
		<constructor-arg value="또치"/>
		<property name="friend">
			<bean class="com.jx372.springcontainer.Friend">
				<constructor-arg value="길동"	/>
			</bean>
		</property>
	</bean>
	
	<bean id = "usr2" class="com.jx372.springcontainer.User">
		<constructor-arg value="희동이"/>
		<property name="friends">
			<list>
				<value>마이콜</value>
				<value>도우너</value>
				<value>또치</value>
			</list>
			</property>
	</bean>
</beans>
